@model MVCProject1.Models.JobSearch
@{
    ViewBag.Title = "searchjob_Pageload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>searchjob_Pageload</h2>
<div>
    @using (Html.BeginForm("searchjob_click", "SearchJob", FormMethod.Post))
    {
        <table>
            <tr>
                <td style="padding-left:8px;"> <label>Job Tittle:</label></td>
                <td> @Html.TextBoxFor(m => m.insertse.job_title)</td>
                <td style="padding-left:8px;"> <label>Skills:</label></td>
                <td> @Html.TextBoxFor(m => m.insertse.skills)</td>
                <td style="padding-left:8px;"> <label>Experience:</label></td>
                <td> @Html.TextBoxFor(m => m.insertse.experience)</td>
                <td><input type="submit" value="search" /> </td>

            </tr>
        </table>
    }
@*</div>td> @Html.TextBoxFor(m => m.insertse.experience)</td>
                <td><input type="submit" value="search" /> </td>
<div>*@
    @using (Html.BeginForm("searchjob_Pageload", "SearchJob", FormMethod.Get))
    {
        if (Model != null)
        {
            if (Model.selectjob != null && Model.selectjob.Count != 0)
            {
                <table class="table">
                    <tr>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(m => m.insertse.company_Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.insertse.job_title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.insertse.skills)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.insertse.experience)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.insertse.job_Status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.insertse.last_Date)
                        </th>
                    </tr>


                    @foreach (var item in Model.selectjob)
                    {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.company_Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.job_title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.skills)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.experience)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.job_Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.last_Date)
                    </td>
                    <td>

                        @Html.ActionLink("Apply Now", "Apply_Pageload", "ApplyCV", new { cid = item.company_Id, jid = item.job_id }, null)

                    </td>
                    @*extrta*@

                    <!--<td>

                        @Html.ActionLink("Edit", "Apply_Pageload", "ApplyCV", new { cid = item.company_Id, jid = item.job_id }, null)

                    </td>-->

                    @*extrta*@

                </tr>
                    }

                </table>
            }
            else
            {
                <script>
                    alert('no data found');
                </script>
            }
        }
    }
    <div>
        @Html.ActionLink("Back to Home Page", "UserHome", "UAlogin")

    </div>


</div>

