@model MVCProject1.Models.AdminInsert
@{
    ViewBag.Title = "Insertadmin_Pageload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Insert admin Deatils</h2>
<div>
    @using (Html.BeginForm("Insertadmin_click", "AdminReg", FormMethod.Post))
    {
        <div>
            <label>Name:</label>
        </div>

        <div>
            @Html.TextBoxFor(m => m.name)
            @Html.ValidationMessageFor(m => m.name)
        </div>
        <div>
            <label>Address:</label>
        </div>
        <div>
            @Html.TextBoxFor(m => m.address)
            @Html.ValidationMessageFor(m => m.address)
        </div>

        <div>
            <label>Phone:</label>
        </div>
        <div>
            @Html.TextBoxFor(m => m.phone)
            @Html.ValidationMessageFor(m => m.phone)
        </div>

        <div>
            <label>Email:</label>
        </div>
        <div>
            @Html.TextBoxFor(m => m.email)
            @Html.ValidationMessageFor(m => m.email)
        </div>

        <div>
            <label>Username:</label>
        </div>
        <div>
            @Html.TextBoxFor(m => m.username)
            @Html.ValidationMessageFor(m => m.username)
        </div>

        <div>
            <label>Password:</label>
        </div>
        <div>
            @Html.PasswordFor(m => m.pass)
            @Html.ValidationMessageFor(m => m.pass)
        </div>

        <div>
            <label>Confirm Password:</label>
        </div>
        <div>
            @Html.PasswordFor(m => m.cpassword)
            @Html.ValidationMessageFor(m => m.cpassword)
        </div>

        <div>
            <input type="submit" value="Insert" />
            @Html.DisplayFor(m => m.adminmsg)
        </div>
        }
</div>


