@model MVCProject1.Models.CompanyInsert
@{
    ViewBag.Title = "Insertcompany_Pageload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Company Deatils</h2>

<div>

    @using (Html.BeginForm("Insertcompany_click", "CompanyInsert", FormMethod.Post))
    {
        <div>
            <label>Company Name:</label>
        </div>

        <div>
            @Html.TextBoxFor(m => m.cname)
            @Html.ValidationMessageFor(m => m.cname)
        </div>



        <div>
            <label>Company Address:</label>
        </div>

        <div>
            @Html.TextAreaFor(m => m.caddress)
            @Html.ValidationMessageFor(m => m.caddress)
        </div>



        <div>
            <label>Company Phone:</label>
        </div>

        <div>
            @Html.TextBoxFor(m => m.cphone)
            @Html.ValidationMessageFor(m => m.cphone)
        </div>


        <div>
            <label>Company website:</label>
        </div>

        <div>
            @Html.TextBoxFor(m => m.cwebsite)
            @Html.ValidationMessageFor(m => m.cwebsite)
        </div>


        <div>
            <label>Company Email:</label>
        </div>
        <div>
            @Html.TextBoxFor(m => m.cemail)
            @Html.ValidationMessageFor(m => m.cemail)
        </div>

        <div>
            <label>Company Location:</label>
        </div>
        <div>
            @Html.TextBoxFor(m => m.clocation)
            @Html.ValidationMessageFor(m => m.clocation)
        </div>


        <div>
            <label>Username:</label>
        </div>
        <div>
            @Html.TextBoxFor(m => m.username)
            @Html.ValidationMessageFor(m => m.username)
        </div>

        <div>
            <label>Password:</label>
        </div>
        <div>
            @Html.PasswordFor(m => m.pass)
            @Html.ValidationMessageFor(m => m.pass)
        </div>

        <div>
            <label>Confirm Password:</label>
        </div>
        <div>
            @Html.PasswordFor(m => m.cpassword)
            @Html.ValidationMessageFor(m => m.cpassword)
        </div>



        <div>
            <input type="submit" value="Insert" />
            @Html.DisplayFor(m => m.commsg)
        </div>


    }











</div>